.rotating{
  min-width:35vh;
  min-height:35vh;
  margin:auto;
  margin-left:15%;
  animation: rotation 10s infinite linear;
}

.chart{
  padding:10% !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.right{
  color:#FFFF;
  text-align:right;
}

.makeit{
  height:70vh;
  width:100%;
  padding:5%;
}
