.rotating{
  min-width:30vh;
  min-height:30vh;
  margin:auto;
  margin-top:3%;
  margin-left:15%;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.right{
  color:#FFFF;
  text-align:right;
}

