.opinion{
  height:70vh;
  color:#000;
  padding:6%;
  background-color:#FFF;
  background-size: 400% 400%;
  overflow: hidden;
}

.pop{
  background-color:#000;
  color:#FFF;
  padding:1%;
  margin:2%;
}

.info:hover{
  opacity: 0.6;
}
